{% extends 'emails/_base_email.html.twig' %}

{% block email_title %}
    Confirmation de votre adresse email
{% endblock %}

{% block email_header %}
    <h1>Confirmez votre email</h1>
    <p>SOS Faons Bretagne</p>
{% endblock %}

{% block email_content %}
    <p>Bonjour,</p>

    <p>
        Merci pour votre inscription sur <strong>SOS Faons Bretagne</strong>.
    </p>

    <p>
        Pour activer votre compte, veuillez confirmer votre adresse email :
    </p>

    <p>
        <a href="{{ signedUrl|raw }}" class="email-button">
            Confirmer mon adresse email
        </a>
    </p>

    <div class="email-box">
        Ce lien expirera dans
        <strong>
            {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}
        </strong>.
    </div>

    <p>
        Si vous n’êtes pas à l’origine de cette inscription, vous pouvez ignorer cet email.
    </p>
{% endblock %}
