<div class="carousel">

    <h2 class="carousel-title">Nos soutiens</h2>
    <div class="carousel-text">
        <span class="strong-text">SOS Faons Bretagne remercie chaleureusement l’ensemble de ses partenaires, mécènes et soutiens.</span>
        Grâce à votre aide, nous pouvons agir sur le terrain pour protéger les jeunes faons lors des périodes de fauche,
        mais
        aussi préserver la nature. Chaque action contribue à mieux connaître, sensibiliser et protéger la biodiversité.
        Votre engagement, qu’il soit financier, matériel ou humain, rend possible notre présence sur le terrain.
        Au nom de tous les bénévoles,
        <span class="strong-text">merci à toutes et tous pour votre soutien.</span>
    </div>

    <button class="carousel-control prev" type="button">‹</button>

    <div class="carousel-track">

        {% for image in images %}
            <div class="carousel-item">
                <img
                    src="{{ asset('images/partenaire/' ~ image) }}"
                    alt="Partenaire"
                >
            </div>
        {% endfor %}

    </div>

    <button class="carousel-control next" type="button">›</button>

</div>
