<div class="carousel">
    <div class="carousel-inner">
        {% set images = [
            'images/partenaire/slide1.jpg',
            'images/partenaire/slide2.svg',
            'images/partenaire/slide3.webp',
            'images/partenaire/slide4.webp',
            'images/partenaire/slide5.png',
            'images/partenaire/slide6.png',
            'images/partenaire/slide7.jpg',
            'images/partenaire/slide8.svg',
            'images/partenaire/slide9.jpg',
            'images/partenaire/slide10.svg',
            'images/partenaire/slide11.png',
            'images/partenaire/slide12.png']  %}
        {% for image in images %}
            <div class="carousel-item">
                <img src="{{ asset('images/' ~ image) }}" alt="Slide">
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control prev">&#10094;</button>
    <button class="carousel-control next">&#10095;</button>
</div>
