{% extends 'emails/_base_email.html.twig' %}

{% block email_title %}
    Réinitialisation de votre mot de passe
{% endblock %}

{% block email_header %}
    <h1>Mot de passe oublié</h1>
    <p>SOS Faons Bretagne</p>
{% endblock %}

{% block email_content %}
    <p>Bonjour,</p>

    <p>
        Vous avez demandé la réinitialisation du mot de passe associé à votre compte
        <strong>SOS Faons Bretagne</strong>.
    </p>

    <p>
        Cliquez sur le bouton ci-dessous pour définir un nouveau mot de passe sécurisé :
    </p>

    <p>
        <a href="{{ url('app_reset_password', {token: resetToken.token}) }}" class="email-button">
            Réinitialiser mon mot de passe
        </a>
    </p>

    <div class="email-box">
        Ce lien expirera dans
        <strong>
            {{ resetToken.expirationMessageKey|trans(
                resetToken.expirationMessageData,
                'ResetPasswordBundle'
            ) }}
        </strong>.
    </div>

    <p>
        Si vous n’êtes pas à l’origine de cette demande, vous pouvez ignorer cet email.
    </p>
{% endblock %}
