{% extends 'base.html.twig' %}
{% block title %}Accueil - SOS Faons Bretagne{% endblock %}
{% block meta_description %}
    Découvrez SOS Faons Bretagne, une association engagée dans la protection des faons et de la faune sauvage en Bretagne.
{% endblock %}
{% block robots %}
    <meta name="robots" content="index, follow">
{% endblock %}

{% block body %}
    <h1>Au cœur des prairies, des naissances passent inaperçues.</h1>
    <h3>Chaque printemps, de mai à début juillet, des faons naissent. Ils restent tapis,
        invisibles, dans les prairies. Au moment des fauches, face aux machines, ce refuge devient un
        piège. En Bretagne, notre association agit aux côtés des agriculteurs pour les repérer et les
        sauver à temps.</h3>

    {% include 'easyAccess/easyAccess.html.twig' %}
{% endblock %}

