{% extends 'base.html.twig' %}
{% block title %}Accueil - SOS Faons Bretagne{% endblock %}
{% block meta_description %}
    Découvrez SOS Faons Bretagne, une association engagée dans la protection des faons et de la faune sauvage en Bretagne.
{% endblock %}
{% block body %}
    <div class="baniere">
        <div class="text">
            <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, facere.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam autem beatae consequuntur dicta iure, iusto labore laboriosam nesciunt odio omnis perspiciatis porro praesentium sequi ut vel voluptatum. Alias delectus fugit impedit porro quam? Aliquid commodi consectetur cupiditate deleniti est ex, expedita harum id, neque officiis perspiciatis sed tempora temporibus!</p>
        </div>
        <div class="buttons">
            <button>Faire un don</button>
            <button>Signaler un fauchage</button>
        </div>
    </div>
    <div class="about">
        <img src="{{ asset('images/faon_001.jpeg') }}" alt="">
        <div class="text">
        <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, nulla?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aut eligendi nam quia quisquam, sequi ut! Accusantium consequatur hic impedit nesciunt quisquam soluta tempore veritatis!</p>
        </div>
    </div>
{% endblock %}

