<footer>
    <ul>
        <li><a href="{{ path('main_cgu') }}">Condition générales d'utilisations</a></li>
        <li><a href="{{ path('main_pdc') }}">Politique de confidencialité</a></li>
    </ul>
    <a href="{{ path('main_home') }}">
        <img src="{{ asset('images/Logo (1).svg') }}" alt="logo sos foans Bretagne">
    </a>
</footer>
