@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-VariableFont_wght.ttf')
    format('truetype');

    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Montserrat', sans-serif;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    min-height: 95vh;
}
img{
    width: 120px;
    height: auto;
}
