.carousel {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 5px auto;
    overflow: hidden;
}
.carousel-title {
    margin-bottom: 24px;
    color: var(--green-dark);
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
}
.carousel-track {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.carousel-item {
    display: none;
    opacity: 0.4;
    transform: scale(.7);
    transition: opacity .4s ease, transform .4s ease;
}
.carousel-item.active {
    opacity: 1;
    transform: scale(1);
}

.carousel-item img {
    width: 180px;
    height: 120px;
    object-fit: contain;
}

.carousel-item.active img {
    width: 280px;
    height: 180px;
}

/* boutons */

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background: var(--green-dark);
    color: white;
    cursor: pointer;
}

.carousel-control.prev {
    left: 0;
}

.carousel-control.next {
    right: 0;
}
