.nav-top{
   display: flex;
    width: 100%;
    background-color: rgba(255, 255, 255, 50%);
}
.nav-logo{
    display: flex;
    height: 10rem;
    width: 10rem;
}
.nav-menu{
    display: flex;
    flex-direction: column;
    width: calc(100% - 10rem);
}
.nav-menu-top{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}
.nav-menu-top ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    align-items: center;
}
.nav-menu-top ul li a .menu-icon{
    height: 2rem;
    width: 2rem;
}

.nav-menu-top ul li:nth-child(3) a .menu-icon{
    height: 3rem;
    width: 3rem;
}
.nav-menu-bottom{
    display: flex;
}
.nav-second{
    background-color: rgb(255, 255, 255, 50%);
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.second img{
    width: 6rem;
}
.top-menu{
    display: flex;
    gap: 2rem;
    margin-inline: 2rem;
    justify-content: space-around;
    align-items: center;
}
.top-menu li a{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold;
    letter-spacing: 0.1rem;
}

.top-menu li{
    list-style: none;
}

/* Style du menu déroulant */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
.nav-image{
    background-image: url("../images/faon_001.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 45%;
}
.nav-overlay{
    background-color: rgba(0, 0, 0, 50%);
}
h1{
    color: white;
}

.nav-banniere{
    display: flex;
    justify-content: space-between;
}
.nav-left{
    width: 50%;
    padding: 2rem;
}
.nav-left p{
    color: white;
}
.nav-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
}

.logo{
    width: 9rem;
}
.nav-button {
    opacity: 1;
    outline: 0;
    color: #fff;
    line-height: 60px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-inline: 2rem;
    border-radius: 10px;
    width: 25rem;
}

.nav-button:after {
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    color: white;
    display: block;
    transition: 0.5s;
    position: absolute;
    content: attr(data-back);
    transform: translateY(-50%) rotateX(90deg);
    border-radius: 10px;
}
.nav-don{
    background-color: rgba(0, 128, 0, 70%);
}
.nav-don:after{
    background-color: rgba(0, 128, 0, 100%);
}
.nav-alert{
    background-color: rgba(255, 69, 0, 70%);
}
.nav-alert:after{
    background-color: rgba(255, 69, 0, 100%);
}
.nav-button:before {
    top: 0;
    left: 0;
    opacity: 1;
    color: white;
    display: block;
    padding: 0 30px;
    line-height: 60px;
    transition: 0.3s;
    position: relative;
    background: rgba(255, 255, 255, 50%);
    content: attr(data-front);
    transform: translateY(0) rotateX(0);
    border-radius: 10px;
}

.nav-button:hover:after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}

.nav-button:hover:before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}
