<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SOS Faons Bretagne{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/LogoSOSFaonsBretagne.svg') }}" type="image/svg+xml">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<div class="container">
    <header>
        {% include 'views/nav/nav.html.twig' %}
    </header>
    <main>
        {# read and display all flash messages #}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="flash flash-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </main>
    <footer>
        {% include 'views/footer/footer.html.twig' %}
    </footer>
</div>
{% block extraJs %}{% endblock %}
</body>
</html>
