<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Paiement confirmé</title>
</head>
<body>

<h1>Paiement confirmé</h1>

<p>
    Bonjour {{ preOrder.user.firstname }},
</p>

<p>
    Votre paiement pour la précommande n°{{ preOrder.id }} a bien été confirmé.
</p>

<p>
    Votre facture est jointe à cet email.
</p>

<p>
    Merci pour votre soutien ❤️
</p>

</body>
</html>
